/**
  *@import './base.css';
  */

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

.table-header {
  background: #1976d2;
  color:#ffffff;
  text-align:center;
}

.table-body {
  background: #a1dcfc;
  color:#000;
  text-align:start;
  border: 1px solid #929292
}

.first-col{
  background: #26a69a;
  color:#ffffff;
  text-align:center;
}

.crilable-col{
  background: #a9c626;
  color:#000;
  text-align:center;
}


a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
